{% extends "base.html" %}
{% set page_id = "page-legal" %}
{% set privacy_i18n = content.privacy.get('i18n', {}) %}
{% set privacy_locale = privacy_i18n.get(current_lang, privacy_i18n.get('ru', {})) %}
{% set page_title = privacy_locale.get('title', 'Privacy Policy') %}

{% block content %}
{% set legal_doc = content.privacy %}
{% include "partials/legal_document.html" %}
{% set info_banner_locale = privacy_locale.get('info_banner', {}) %}
{% if info_banner_locale %}
{% include "partials/info_banner.html" %}
<script src="{{ url_for('static', path='js/info-banner.js') }}"></script>
{% endif %}
{% endblock %}
