{% extends "base.html" %}
{% set page_id = "page-legal" %}
{% set agreement_locale = content.agreement %}
{% set agreement_i18n = content.agreement.get('i18n', {}) %}
{% if current_lang == 'en' %}
    {% set agreement_en = agreement_i18n.get('en', {}) %}
    {% if agreement_en %}
        {% set agreement_locale = agreement_en %}
    {% endif %}
{% endif %}
{% set page_title = agreement_locale.get('title', 'User Agreement') %}

{% block content %}
{% set legal_doc = content.agreement %}
{% include "partials/legal_document.html" %}
{% set info_banner_locale = agreement_locale.get('info_banner', {}) %}
{% if info_banner_locale %}
{% include "partials/info_banner.html" %}
<script src="{{ url_for('static', path='js/info-banner.js') }}"></script>
{% endif %}
{% endblock %}
